html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "~bootstrap/scss/bootstrap";
@import "./styles/loading.scss";

.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 10px;
  .menu-right {
    margin-left: auto;
    cursor: pointer;
    p {
      margin: 0;
    }
    .menu-item {
      margin-left: 20px;
      padding: 5px 8px;
      position: relative;
      &.login {
        cursor: pointer;
        background: #fdcc00;
        border-radius: 10px;
      }
      .fav-count {
        content: '';
        position: absolute;
        padding: 2px 8px;
        border-radius: 50%;
        top: 0;
        left: 20px;
        background-color: red;
        color: white;
        font-size: 13px;
      }
      &.shake {
        animation: shakeCart .4s ease-in-out forwards;
      }
    }
    .icon {
      font-size: 25px;
    }
  }
  .logo {
    width: 40px;
    display: flex;
    align-items: center;
    animation: rotate 4s infinite;
    img {
      width: 100%;
    }
  }
}

@keyframes rotate {
  0%   {transform: rotate(0)}
  80%  {transform: rotate(360deg)}
  90%  {transform: rotate(350deg)}
  100%  {transform: rotate(360deg)}
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px)
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.main {
  .banner {
    width: 300px;
    margin: 0 auto;
    padding: 30px 0;
    img {
      width: 100%;
    }
  }
}

.card {
  padding-top: 10px;
  height: 250px;
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  text-align: center;
  transform-style: preserve-3d;
  position: relative;
  &:hover {
    img {
      transform: scale(1.3);
    }
    .icon-hear {
      visibility: visible;
    }
    .card-img:after {
      bottom: 0;
    }
  }
  &-info {
    &--id {
      padding: 3px 10px;
      font-size: 12px;
      border-radius: 12px;
      font-weight: bold;
      background: #928e8e3d;
    }
    &--name {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  &-img {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    &:after {
      content: '';
      transition: all 0.5s ease;
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      background-color: #1919197a;
    }
    .icon-hear {
      position: absolute;
      bottom: 10px;
      color: white;
      left: 50%;
      font-size: 20px;
      z-index: 2;
      transform: translateX(-50%);
      visibility: hidden;
      &.fav {
        color: #f95757;
      }
    }
    img {
      transition: all 0.5s ease;
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border: solid 2px #fdfdfd;
    }
  }
  &__grass {
    background-color: #cfecbd;
  }
  &__fire {
    background-color: #efae7d;
  }
  &__water {
    background-color: #becff3;
  }
  &__electric {
    background-color: #f1d562;
  }
  &__normal {
    background-color: #dad99e;
  }
  &__ice {
    background-color: #96D9D6;
  }
  &__fighting {
    background-color: #f7bbb9;
  }
  &__poison {
    background-color: #dec6de;
  }
  &__ground {
    background-color: #E2BF65;
  }
  &__flying {
    background-color: #A98FF3;
  }
  &__psychic {
    background-color: #c6b9ea;
  }
  &__bug {
    background-color: #cbd67c;
  }
  &__rock {
    background-color: #B6A136;
  }
  &__ghost {
    background-color: #735797;
  }
  &__dragon {
    background-color: #6F35FC;
  }
  &__dark {
    background-color: #705746;
  }
  &__steel {
    background-color: #B7B7CE;
  }
  &__fairy {
    background-color: #D685AD;
  }
}

.page-login {
  .form {
    padding-top: 100px;
    width: 300px;
  }
  .input {
    padding: 5px;
  }
  .button {
    border: 0;
    padding: 3px 5px;
  }
}

.sidebar-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.close {
  .sidebar {
    transform: translateX(-100%);
  }
  .back-drop {
    display: none;
  }
}
.open {
  .sidebar {
    transform: translateX(0);
  }
  .back-drop {
    opacity: 1;
  }
}
.sidebar {
  position: fixed;
  z-index: 3;
  width: 300px;
  height: 100vh;
  background: white;
  overflow: hidden;
  transition: all 0.5s ease;
  .image {
    position: relative;
    top: 20px;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border: solid 3px #fccc05;
    border-radius: 50%;
    background: white;
    img {
      position: absolute;
      object-fit: contain;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .head {
    background: #f7e393;
    height: 260px;
    width: 600px;
    border-radius: 0 0 50% 50%;
    position: relative;
    left: -50%;
    .name {
      padding-top: 30px;
    }
  }
  .info {
    padding: 20px 20px 0;
    .value {
      padding-left: 10px;
    }
  }
  .stats {
    padding: 0 20px;
    .progress {
      height: 10px;
      margin-bottom: 10px;
    }
  }
}
.back-drop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: #58585882;
  z-index: 1;
}

.rotateImage {
  animation: rotateImage .7s;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg);
  }
}
.stat {
  &-hp {
    background-color: #54cd5b;
  }
  &-attack {
    background-color: #f6de51;
  }
  &-defense {
    background-color: #ed8010;
  }
  &-special-attack {
    background-color: #55b0f1;
  }
  &-special-defense {
    background-color: #ad62f6;
  }
  &-speed {
    background-color: #f06ace;
  }
}
