.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  padding: 20px 40px;
}

.menu-right {
  margin-left: auto;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

.App {
  text-align: center;
}

.list-user {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  text-align: center;
}
