.main {
  padding: 60px;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

.small-nav {
  text-align: center;
}

.small-nav-item {
  padding: 0 20px;
  color: white;
}

.small-page {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  padding: 20px 40px;
}

.menu-right {
  margin-left: auto;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

.App {
  text-align: center;
}

.circle-wrap {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  border-radius: 50%;
  border: solid 1px;
  text-align: center;
  line-height: 2;
}
